.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px 20px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

article .container {
  display: flex;
}

.content-left,
.content-right {
  flex: 1;
}

.content-left {
  margin-right: 20px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .content-left,
  .content-right {
    margin-right: 0; /* Reset margin for mobile */
  }
}
